%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample02
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to use StorageApi to list all user files from GroupDocs account using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample02.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? user_id) ? userId : ''}
  %p
    PrivateKey = #{(defined? private_key) ? privateKey : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample02', :enctype => 'multipart/form-data', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'base_path'} Base Path
      %span{:class => 'optional'} (Optional)
      %br/
      %input{:type=>'text', :name=>'base_path'}
      %br/
      %input{:type => 'submit', :value => 'Make Request'}/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p Results:
      %table{:style => 'border:1px double black;'}
        %tr
          %th Field
          %th Value
        %tr
          %td Files list
          %td #{(defined? filelist) ? filelist : ''}

= partial :_others_samples