%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample24
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to use StorageApi to upload file from URL to GroupDocs account using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample24.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Upload" button
    %form{:action => '/sample24', :enctype => 'multipart/form-data', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'url'} File Url
      %br/
      %input{:name => 'url', :type => 'text'}/
      %br/
      %br/
      %input{:type => 'submit', :value => 'Upload'}/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        Results:
        #{(defined? message) ? message : ''}
        #{(defined? iframe) ? iframe : ''}

= partial :_others_samples