%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample21
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to Create and Upload Envelop to GroupDocs account using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample21.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    Email = #{(defined? email) ? email : ''}
  %p
    Name = #{(defined? name) ? name : ''}
  %p
    Last Name = #{(defined? lastName) ? lastName : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample21', :enctype => 'multipart/form-data', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'email'} Email
      %br/
      %input{:type=>'text', :name=>'email'}
      %br/
      %label{:for => 'name'} Name
      %br/
      %input{:type=>'text', :name=>'name'}
      %br/
      %label{:for => 'lastName'} Last Name
      %br/
      %input{:type=>'text', :name=>'lastName'}
      %br/
      %label{:for => 'file'} File
      %br/
      %input{:name => 'file', :type => 'file'}/
      %br/
      %br/
      %input{:type => 'submit', :value => 'Make request'}/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        Results:
        %br/
        #{(defined? iframe) ? iframe : ''}

= partial :_others_samples