%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample21
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to Create and Upload Envelop to GroupDocs account using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample21.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    Email = #{(defined? email) ? email : ''}
  %p
    Name = #{(defined? name) ? name : ''}
  %p
    Last Name = #{(defined? lastName) ? lastName : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample21', :enctype => 'multipart/form-data', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'email'} Email
      %br/
      %input{:type=>'text', :name=>'email'}
      %br/
      %label{:for => 'name'} Name
      %br/
      %input{:type=>'text', :name=>'name'}
      %br/
      %label{:for => 'lastName'} Last Name
      %br/
      %input{:type=>'text', :name=>'lastName'}
      %br/
      %div.guid_radio
        %input{:type=>'radio', :name=>'source', :value=>'guid', :checked=>'checked'} File ID (GUID)
        %br/
        %input{:type=>'radio', :name=>'source', :value=>'local'}Upload local file
        %br/
        %input{:type=>'radio', :name=>'source', :value=>'url'} Upload file from URL
        %br/

      %div.guid_field
        %label{:for=>'fileId', :id=>'guid'} File ID (GUID)
        %br/
        %input{:type=>'text', :name=>'fileId'}

      %div.guid_field{:style=>'display:none;'}
        %label{:for=>'file'} Upload local file
        %br/
        %input{:type=>'file', :name=>'file'}

      %div.guid_field{:style=>'display:none;'}
        %label{:for=>'url', :id=>'url'} Upload file from URL
        %br/
        %input{:type=>'text', :name=>'url'}

      %br/
      %label{:for=>'callback'}
        Callback URL
        %span.optional (Optional)
        %br/
        %font{:color=>'grey'} (For test Callback you can use this URL: http://groupdocs-ruby-samples.herokuapp.com/sample21/signature_callback)
      %input{:type=>'text', :size=>'70', :value=>"#{(defined? callback) ? callback : ''}", :name=>'callback'}
      %br/
      %label{:for => 'base_path'} Base Path
      %span{:class => 'optional'} (Optional)
      %br/
      %input{:type=>'text', :name=>'base_path'}
      %br/
      %br/
      %input{:type => 'submit', :value => 'Make request'}
      %span{:id=>'results_status', :style=>'color:red;display:none;'} (Please wait for ajax response)
      %br/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        Results:
        %br/
        %iframe{:id=>'downloadframe', :style=>'display:none'}
        #{(defined? iframe) ? iframe : ''}

= partial :_others_samples
%script{:src=>'//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
:javascript
  function check() {
    $.get('/sample21/check', function(data) {
      $('#results_status').fadeOut("slow");
      $('#downloadframe').attr("src", "/sample21/downloads/" + data);
    }, 'text');
  }

  $(function($){
    callbackUrl = $("input[name=callback]").val();

    if(callbackUrl !== "") {
      $('#results_status').fadeIn("slow");
      setTimeout(check, 5000)
    }
     $('.guid_radio input').change(function(){
          var elementIndex = $(this).parent().children('input').index($(this));
          $('.guid_field').hide();
          $('.guid_field').eq(elementIndex).show();
        });
  });