%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample19
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to Compare documents using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample19.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    Source File ID = #{(defined? sourceFileId) ? sourceFileId : ''}
  %p
    Target File ID = #{(defined? targetFileId) ? targetFileId : ''}
  %p
    Callback Url = #{(defined? callbackUrl) ? callbackUrl : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample19', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'sourceFileId'} Source File ID
      %br/
      %input{:type=>'text', :name=>'sourceFileId'}
      %br/
      %label{:for => 'targetFileId'} Target File ID
      %br/
      %input{:type=>'text', :name=>'targetFileId'}
      %br/
      %label{:for => 'callbackUrl'} Callback Url
      %br/
      %input{:type=>'text', :name=>'callbackUrl'}
      %br/
      %input{:type => 'submit', :value => 'Make request'}/
      %br/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        Result:
        #{(defined? iframe) ? iframe : ''}

= partial :_others_samples