%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample14
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to check the list of shares for a folder using Ruby SDK
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    Folder = #{(defined? folder) ? folder : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample14', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'folder'} GroupDocs Folder
      %br/
      %input{:type=>'text', :name=>'folder'}
      %br/
      %input{:type => 'submit', :value => 'Make request'}/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        List of shares for a folder:
        %br/
        - if defined? shares.first
          %br/
          - shares.each do |user|
            #{user.primary_email}
            %br/

= partial :_others_samples