%h3{:style => 'text-align:center;'}
  %a{:href => '/'}GroupDocs Ruby SDK Samples
  \- Sample34
  
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to create folder in the GroupDocs account using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample34.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}

    #requestForm{:style => 'padding:20px; border:1px solid black;'}
      %p Enter data for request and press "Make request" button
      %form{:action => '/sample34', :enctype => 'multipart/form-data', :method => 'post'}
        %label{:for => 'client_id'} GroupDocs Client ID
        %br/
        %input{:type=>'text', :name=>'client_id'}
        %br/
        %label{:for => 'private_key'} GroupDocs Private Key
        %br/
        %input{:type=>'text', :name=>'private_key'}
        %br/
        %label{:for => 'path'} Folder name
        %br/
        %input{:type=>'text', :name=>'path'}
        %br/
        %input{:type => 'submit', :value => 'Make Request'}
  %br/
  %p Results:
  %div{:style => "color:green"} #{(defined? message) ? message : ''}

= partial :_others_samples