%h3{:style => 'text-align:center;'}
  %a{:href => '/'} GroupDocs Ruby SDK Samples
  \- Sample28
.samplecontent{:style => 'padding:10px;'}
  %i This sample will show how to delete all annotations from document using Ruby SDK
  %br/
  %br/
  %span.documentation
    %a{:href => '/docs/sample28.html'} Builtin documentation for this sample
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ''}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ''}
  %p
    FileId = #{(defined? fileId) ? fileId : ''}
  %p
    %font{:color => 'red'} #{(defined? err) ? err : ''}
  %br/
  #requestForm{:style => 'padding:20px; border:1px solid black;'}
    %p Enter data for request and press "Make request" button
    %form{:action => '/sample28', :method => 'post'}
      %label{:for => 'client_id'} GroupDocs ClientID
      %br/
      %input{:type=>'text', :name=>'client_id'}
      %br/
      %label{:for => 'private_key'} GroupDocs PrivateKey
      %br/
      %input{:type=>'text', :name=>'private_key'}
      %br/
      %label{:for => 'file_id'} GroupDocs FileID
      %br/
      %input{:type=>'text', :name=>'fileId'}
      %br/
      %label{:for => 'base_path'} Base Path
      %span{:class => 'optional'} (Optional)
      %br/
      %input{:type=>'text', :name=>'base_path'}
      %br/
      %br/
      %input{:type => 'submit', :value => 'Delete all annotations'}/
    %div{:style => 'padding:20px; border:1px solid black;'}
      %p
        Results:
        %br/
        %font{:color => 'green'}#{(defined? messages) ? messages : ''}
        %br/

= partial :_others_samples