%h3{:style => "text-align:center;"}
  %a{:href => "/"} GroupDocs Ruby SDK Samples
  \- Sample17
.samplecontent{:style => "padding:10px;"}
  %i This sample will show how to Create and Upload Envelop to GroupDocs account using Ruby SDK
  %br/
  %br/
  %p
    You entered:
  %p
    UserId = #{(defined? userId) ? userId : ""}
  %p
    PrivateKey = #{(defined? privateKey) ? privateKey : ""}
  %p
    Email = #{(defined? email) ? email : ""}
  %p
    Name = #{(defined? name) ? name : ""}
  %p
    Last Name = #{(defined? lastName) ? lastName : ""}
  %p
    %font{:color => "red"} #{(defined? err) ? err : ""}
  %br/
  #requestForm{:style => "padding:20px; border:1px solid black;"}
    %p Enter data for request and press "Make request" button
    %form{:action => "/sample21", :enctype => "multipart/form-data", :method => "post"}
      %label{:for => "client_id"} GroupDocs ClientID
      %br/
      %input{:type=>"text", :name=>"client_id"}
      %br/
      %label{:for => "private_key"} GroupDocs PrivateKey
      %br/
      %input{:type=>"text", :name=>"private_key"}
      %br/
      %label{:for => "email"} Email
      %br/
      %input{:type=>"text", :name=>"email"}
      %br/
      %label{:for => "name"} Name
      %br/
      %input{:type=>"text", :name=>"name"}
      %br/
      %label{:for => "lastName"} Last Name
      %br/
      %input{:type=>"text", :name=>"lastName"}
      %br/
      %label{:for => "file"} File
      %br/
      %input{:name => "file", :type => "file"}/
      %br/
      %br/
      %input{:type => "submit", :value => "Make request"}/
    %div{:style => "padding:20px; border:1px solid black;"}
      %p
        Results:
        %br/
        #{(defined? iframe) ? iframe : ""}

%div{:style => "padding:10px;"}
  Choose another one sample:
  %ul
    %li
      %a{:href => "/sample1"} Sample1 - How to login to GroupDocs using the API
    %li
      %a{:href => "/sample2"} Sample2 - How to list files within GroupDocs Storage using the Storage API
    %li
      %a{:href => "/sample3"} Sample3 - How to upload a file to GroupDocs using the Storage API
    %li
      %a{:href => "/sample4"} Sample4 - How to download a file from GroupDocs Storage using the Storage API
    %li
      %a{:href => "/sample5"} Sample5 - How to copy / move a file using the GroupDocs Storage API
    %li
      %a{:href => "/sample6"} Sample6 - How to add a Signature to a document in GroupDocs Signature
    %li
      %a{:href => "/sample7"} Sample7 - How to create a list of thumbnails for a document
    %li
      %a{:href => "/sample8"} Sample8 - How to return a URL representing a single page of a Document
    %li
      %a{:href => "/sample9"} Sample9 - How to generate an embedded Viewer URL for a Document
    %li
      %a{:href => "/sample10"} Sample10 - How to share a document to other users
    %li
      %a{:href => "/sample11"}Sample11 - How programmatically create and post an annotation into document. How to delete the annotation
    %li
      %a{:href => "/sample12"}Sample12 - How to list all annotations from document
    %li
      %a{:href => "/sample13"}Sample13 - How to add collaborator to doc with annotations
    %li
      %a{:href => "/sample14"}Sample14 - How to check the list of shares for a folder
    %li
      %a{:href => "/sample15"}Sample15 - How to check the number of document's views
    %li
      %a{:href => "/sample16"}Sample16 - How to insert Assembly questionary into webpage
    %li
      %a{:href => "/sample17"}Sample17 - How to upload a file into the storage and compress it into zip archive
    %li
      %a{:href => "/sample18"}Sample18 - How to convert Doc to Docx, Docx to Doc, Docx to PDF, PPT to PDF
    %li
      %a{:href => "/sample19"}Sample19 - How to Compare documents using Ruby SDK
    %li
      %a{:href => "/sample20"}Sample20 - How to Get Compare Change list for document using Ruby SDK
    %li
      %a{:href => "/sample21"}Sample21 - How to Create and Upload Envelop to GroupDocs account using Ruby SDK
    %li
      %a{:href => "/sample22"}Sample22 - How create or update user and add him to collaborators using PHP SDK
    %li
      %a{:href => "/envelope-sample"}Envelope sample - How to use envelope and signature API
